* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: hsl(30, 38%, 92%);
}
main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
p {
	font-size: 14px;
}

.font-mont {
	font-family: 'Montserrat', sans-serif;
}
.font-fraun {
	font-family: 'Fraunces', serif;
}

.card {
	display: flex;
	flex-direction: column;
	width: 350px;
	border-radius: 10px;
	overflow: hidden;
}

.photo {
	background-image: url('./images/image-product-mobile.jpg');
	background-size: cover;
	background-position: center;
	height: 250px;
}

.text__category {
	text-transform: uppercase;
	letter-spacing: 3px;
	color: hsl(228, 12%, 48%);
}

.text {
	padding: 1.5rem;
	width: 100%;
	background-color: hsl(0, 0%, 100%);
}
.text__title {
	line-height: 1.8rem;
	margin: 1rem 0;
	color: hsl(212, 21%, 14%);
}

.text__content {
	color: hsl(228, 12%, 48%);
	line-height: 1.4rem;
}
.price {
	display: flex;
	align-items: center;
}
.price__current {
	color: hsl(158, 36%, 37%);
	font-size: 2rem;
	margin: 1rem 1rem 1rem 0;
	font-weight: bold;
}
.price__discount {
	color: hsl(228, 12%, 48%);
}
button {
	display: flex;
	justify-content: center;
	align-items: center;
	background: hsl(158, 36%, 37%);
	color: white;
	padding: 10px 60px;
	width: 100%;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	cursor: pointer;
	transition: background-color .3s;
}
button:hover {
	background-color: hsl(159, 37%, 18%);
}

img {
	padding: 5px;
}

@media (min-width: 768px) {
	.card {
		flex-direction: row;
		width: 650px;
	}
	.photo {
		background-image: url('./images/image-product-desktop.jpg');
		height: 500px;
		width: 50%;
	}
	.text {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 50%;
		padding: 2rem;
	}
	.text__title {
		padding-right: 3rem;
	}
	.text__content {
		padding-right: 2rem;
	}
}
